body {
  color: #32292F;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-color {
  background-color: #32292F;
}

.gray {
  background-color: #575366;
}

.washed-up-blue {
  background-color: #6E7DAB !important;
}

.blue {
  background-color: #5762D5;
}

.green {
  background-color: #D1E3DD;
}

.main-text {
  color: #32292F !important;
}

.gray-text {
  color: #575366 !important;
}

.washed-up-blue-text {
  color: #6E7DAB !important;
}

.blue-text {
  color: #5762D5 !important;
}

.green-text {
  color: #D1E3DD !important;
}

.bold-text {
  font-weight: bold;
}

.scale {
  transition: 0.1s; 
}

.scale:hover {
  transform: scale(1.1);
  z-index: 2;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.round {
  border-radius: 0.25rem !important;
}

.product-card {
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid #32292F;
    border-radius: 0.25rem;
}

.btn-submit,
.btn-main {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: #D1E3DD;
  background-color: #575366;
  border: 2px solid #D1E3DD;
}
.btn-cart:hover,
.btn-submit:hover,
.btn-main:hover {
  color: #D1E3DD;
  background-color: #76708f;
  border-color: #D1E3DD;
}

.btn-cart {
  height: 45px;
  width: 50px;
  justify-content: center;
  vertical-align: middle;
}

.btn-add-to-cart {
  height: 45px;
  width: 250px;
  justify-content: center;
  vertical-align: middle;
  color: #D1E3DD;
  background-color: #575366;
  border: 2px solid #D1E3DD;
  border-radius: 10px;
}

.btn-add-to-cart:hover {
  color: #D1E3DD;
  background-color: #76708f;
  border-color: #D1E3DD;
}

.btn-medium-size {
  height: 120px;
  width: 300px;
}

.btn-small-size {
  height: 90px;
  width: 240px;
}

.btn-nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-nav-link:hover, .btn-nav-link:focus {
  color: #0a58ca;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.padding-top-5 {
  padding-top: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* HEADER */
.header-bg {
  background-color: #f0b549;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
